body {
  margin: 0;
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
  margin: 10px;
}
button {
  font-size: 10px;
  padding: 6px 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button i {
  margin-right: 6px;
}

.boton-grupo {
  display: flex;
  gap: 6px;
  margin-top: 8px;
  flex-wrap: wrap;
}

.boton-grupo button {
  font-size: 14px;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn-enlace {
  background-color: #2ecc71; /* Verde */
}

.btn-editar {
  background-color: #7f8c8d; /* Gris */
}

.btn-borrar {
  background-color: #e74c3c; /* Rojo */
}

#map {
  height: 85vh;
  width: 100%;
}
